{% if form.parent.parent['pplKTMID_' ~ method.code] is defined and form.parent.parent['pplKTMID_' ~ method.code] %}
	{% set inputId = form.parent.parent['pplKTMID_' ~ method.code].vars.id %}
	{% set labelId = inputId ~ '_title' %}
	{% set countrOption = form.parent.parent['pplKTMID_' ~ method.code].vars.attr['data-country'] %}

	<div class="ui hidden divider"></div>
	<div class="center aligned ui grid">
		<a id="{{ labelId }}"
		   class="ui secondary basic button"
		   href="https://www.pplbalik.cz/Main3.aspx?cls=KTMMap&CountryCode={{ countrOption }}&ReturnUrl={{ url('mango_sylius_ppl_parcelshop_return', {'methodCode': method.code, 'sessid': 5})|url_encode }}"
		>
			{% if form.parent.parent['pplKTMID_' ~ method.code].vars.attr['data-label'] is defined and form.parent.parent['pplKTMID_' ~ method.code].vars.attr['data-label'] is not empty %}
				{{ form.parent.parent['pplKTMID_' ~ method.code].vars.attr['data-label'] }}
			{% else %}
				{{ 'mangoweb.shop.checkout.shippingStep.choosePplParcelShop'|trans }}
			{% endif %}
		</a>
	</div>
	<div class="ui hidden divider"></div>

	{{ form_widget(form.parent.parent['pplKTMID_' ~ method.code]) }}
	{{ form_widget(form.parent.parent['pplKTMname_' ~ method.code]) }}
	{{ form_widget(form.parent.parent['pplKTMaddress_' ~ method.code]) }}
{% endif %}

{{ form_widget(form.parent.parent.pplKTMID) }}
{{ form_widget(form.parent.parent.pplKTMname) }}
{{ form_widget(form.parent.parent.pplKTMaddress) }}
